
<div id="main">
  <h1 class="text-center">Edit article</h1>
 
<%= render 'form' %>
<div class="container">
        <%= link_to 'Back to List', articles_path %> | <%= link_to 'Back to Article', article_path(params[:id]) %>
</div>

 
</div>
