
<div class="jumbotron">
	<div class="container">
		<h1 class="text-center">Welcome to BlogZ</h1>
		<p class="text-center">Share your idea. Share your thought. Share your life.</p>
		<%= link_to 'Enter', {controller: 'articles'}, class: 'btn btn-primary btn-lg' %>
	</div>
</div>


